<div class="row">
    <div class="col-12">
        <img #image class="img-fluid img-thumbnail" [src]="recipe.imagePath" alt="Recipe image"
            (load)="image.hidden = false" (error)="image.hidden = true">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h2>{{recipe.description}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item shadow" *ngFor="let item of recipe.ingredients">{{item.amount}} {{item.name}}
            </li>
        </ul>
    </div>
</div>
<div *ngIf="authService.isAuthenticated" class="row mt-2">
    <div class="col-12 d-flex">
        <button type="button" class="btn btn-primary mr-auto" (click)="addIngredients()">Add ingredients</button>
        <button type="button" class="btn btn-primary" routerLink="edit">Edit</button>
        <button type="button" class="btn btn-danger ml-1" (click)="onDelete()">Delete</button>
    </div>
</div>