#list {
  margin: 5px;
  border: 2px solid #ffe6e6;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
  text-align: center;
  cursor: pointer;
  padding: 0;
}

a {
  padding: .75rem 1.25rem;
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  width: 100%;
  padding-bottom: 10px;
}

h4 {
  margin-bottom: 5px;
}

p {
  margin-bottom: 0px;
}

span {
  margin-right: 5px;
}

span:last-of-type {
  margin-right: 0px;
}